a {
  color: inherit;
  text-decoration: none;
}

ul {
  margin: 0px;
}

.self-end {
  align-self: flex-end;
}

.large {
  font-size: xx-large;
}

.click {
  cursor: pointer;
}

ol {
  margin: 0px;
}

/* MATERIAL OVERRIDES */
input {
  min-width: 200px !important;
}

button span {
  margin: 0 !important;
}
