a {
  color: inherit;
  text-decoration: none;
}

.self-end {
  align-self: flex-end;
}

.large {
  font-size: xx-large;
}

/* MATERIAL OVERRIDES */
input {
  min-width: 200px !important;
}

span {
  margin: 0 !important;
}
